{% extends 'base.html' %}

{% block title %}EventBurst - Reach Us{% endblock %}

{% block content %}
<h1 style="text-align: center; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);">About.</h1>
<hr>
<h2>Details</h2>
<p>Welcome to EventBurst, you're all in one solution for seamless event planning and execution. Whether you are organizing a concert, a hackathon, or any other college festival events in between, our platform is designed to simplify the entire process. From creating event and sending invitations to managing RSVPS, ticketing, and on-site check-ins, we provide the tools you need to make your event a success. With powerful analytics, real time collaboration, and a user friendly interface, even burst empowers you to take control of your events and create memorable experiences for your attendees. Join us and unlock a world of possibilities by joining, creating communities. Where you can share and create experiences of a lifetime.</p>
{% endblock %}
